.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  color: #000;
}

.about-content {
  flex: 1;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 60px 20px;
}

.about-content h1 {
  display: inline-block;
  border-bottom: 3px #ff9f0d !important;
  padding-bottom: 5px;
  margin-bottom: 18px;
}

#why-choose-us {
  text-align: center;
}

section {
  padding: 60px 20px;
  margin-bottom: 60px;
}


.dishes {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.dishes img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.cta-buttons {
  text-align: center;
  margin-top: 30px;
}

.btn {
  display: inline-block;
  background-color: #FF9F0D;
  color: #fff;
  padding: 18px 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  margin: 10px;
}

.btn:hover {
  background-color: black;
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: scale(0.95);
}

